* {
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: border-box
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #abd5c3;
  background-color: #202020;
}